{{- with .Title | default .Site.Title }}
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}" />
{{- end }}
{{- with .Description | default .Params.subtitle | default .Summary }}
<meta property="og:description" content="{{ . }}">
<meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- if or .IsHome (eq .Section "about") (eq .Section "collections") (eq .Section "notes") (eq .Section "posts") }}
<meta property="og:image" content="{{ index .Site.Params.images 0 | absURL }}" />
<meta name="twitter:image" content="{{ index .Site.Params.images 0 | absURL }}" />
{{- else if .IsPage }}
{{- with .Params.share_img | default .Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta name="twitter:image" content="{{ . | absURL }}" />
{{- else }}
<meta property="og:image" content="{{ index .Site.Params.images 0 | absURL }}" />
<meta name="twitter:image" content="{{ index .Site.Params.images 0 | absURL }}" />
{{- end }}
{{- else }}
<meta property="og:image" content="{{ index .Site.Params.images 0 | absURL }}" />
<meta name="twitter:image" content="{{ index .Site.Params.images 0 | absURL }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{- with .Site.Params.twitter_card }}
<meta name="twitter:card" content="{{ . }}" />
{{- else }}
<meta name="twitter:card" content="summary_large_image" />
{{- end }}
{{- with .Site.Params.twitter_site }}
<meta name="twitter:site" content="{{ . }}" />
{{- end }}